<%= render "shared/nav" %>

<div class="flex justify-center items-center" style="height: 80vh">
  <div class="max-w-sm rounded overflow-hidden shadow-md p-4">
    <%= form_with(url: '/home', method: :post) do |form| %>
        <%= form.text_area :prompt, placeholder: "Text here " %>
        <%= form.submit %>
    <% end %>
  </div>

  <h1><%= @prompt.body %></h1>
</div>
